.body{
    background-color: #EEF7FF;
}

#coverphoto{
    height: 30vh;
    width: 100vw; /* Adjust this value as needed */
    object-fit: cover; /* This will ensure that your image covers the entire area of the img element without distorting the aspect ratio */
}

.headpicture{
    position: relative;
    padding: 0;
}

.headpicture h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

nav{
    background-color: #006989;
    padding: 0;
    margin: 0;
    height: 5vh;
}
 



body, ul{
    margin: 0;
    padding: 0;
}

nav ul{
    display: flex;
    justify-content: center;
    text-align: center;
    list-style-type: none;
    gap: 30px;
}

a{
    text-decoration: none;
    color: #EEF7FF;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#profilepicture{
    border-radius: 50%;
    /* object-position: bottom;
    object-fit: cover; */
}
p{
    width: 50%;
}

#skillpicture{
    height: 200px;
    width: 250px;
    object-fit: cover;

}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

#skilldata {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-gap: 20px;
    align-items: start;
    justify-content: center;
    width: 80%;
}

.skilldata-item {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.skilldata-item h3 {
    margin: 0;
}

.skilldata-item p {
    margin: 0;
}

#skillpicture {
    width: 100%;
    height: auto;
}
