.head_container{
    display: flex;
    flex-direction: column;
    height: 75vh;
    background-color: #E0FBE2;
    justify-content:flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
}


.head_container img{
    height: 320px;
    width: 320px;
    padding-top: 2rem;
}

.head_container h1{
    font-family: cursive;
    font-size: 4rem;
    color:#006769;
}

.head_container h2{
    font-family:"Montserrat", sans-serif;
    font-size: 2.5rem;
    color: #40A578 ;
}